@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-shade: #222222;
  --color-foreground: #fafafa;
  --color-muted: #969696;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .trap {
    @apply border-shade rounded-md border-4 p-4;
  }
}
